:root {
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-white: #f0f0f0;
}

* {
  margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

a {
  text-decoration: none;
  color: var(--main-white);
}

p {
  font-size: 2rem;
}

/************************************************/
/*                  HEADER STYLE                */
/************************************************/

#navbar {
	background-color: var(--main-red);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 1px 1px black;
}
#navbar ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  margin: 0 2rem;
}

#navbar ul li {
	list-style: none;
  height: 100%;
	padding: 1em;
}

#navbar ul li:hover {
  background-color: var(--main-blue);
}


#navbar a {
	font-size: 2.3rem;
	color: var(--main-white);
}

/************************************************/
/*             WELCOME SECTION STYLE            */
/************************************************/

#welcome-section {
	height: 100vh;
	max-width: 100%;
  padding: 0 2rem;
	background: linear-gradient( 90deg,
		rgb(49, 49, 49) 0%,
		#212123) 100%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	text-align: center;
}

#welcome-section p{
	color: var(--main-red);
	font-style: italic;
	font-size: 3rem;
	font-weight: 200;
}

h1 {
	text-align: center;
	font-weight: 700;
	font-size: 6rem;
}

/************************************************/
/*             PROJECTS SECTION STYLE           */
/************************************************/

#projects {
  padding: 100px 20px;
  background-color: var(--main-blue);
  text-align: center;
}

#projects h2 {
  border-bottom: 2px solid var(--main-white);
  max-width: 680px;
  margin: 0 auto 6rem auto;
  font-size: 4.2rem;
  font-weight: 700;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px ,1fr));
  grid-gap: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

#profile-link {
  max-height: 40vh;
  background-color: var(--main-gray);
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 50%);
  border-radius: 0 2px;
}

#profile-link img {
	height: calc(100% - 6rem);
	width: 100%;
	object-fit: cover;
  display: block;
}

.project-title {
  padding: 1.5rem 0 ;
}

.brackets {
  color: var(--main-gray);
  transition: color 0.3s ease-out
}

#profile-link:hover .brackets {
	color: #ff7f50;
}

#button {
  margin: 6rem auto 0 auto;
  background-color: var(--main-gray);
  padding: 1rem 0;
  width: 140px;
  border-radius: 2px;
  transition: background 0.3s ease-out;
}

#button:hover {
  background-color: var(--main-red);
}

#button i {
  transition: transform 0.3s ease-out;
}

#button:hover i {
  transform: translateX(0.3rem);
}

/************************************************/
/*             CONTACT SECTION STYLE            */
/************************************************/

#contact {
  height: 100vh;
  max-width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--main-gray);
}

.contact-links {
  margin-top: 6rem;
}

.contact-links a {
  padding: 0 3rem;
  font-size: 2.5rem;
  font-weight: 400;
  display: inline-block;
  transition: transform 0.3s ease-out;
}

.contact-links a:hover {
  transform: translateY(1rem);
}

.contact-header p {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 100;
}

@media (max-width: 700px) {
  .contact-links {
    display: flex;
    flex-direction: column;
  }
  .contact-links a{
    margin-top: 2rem;
  }
}